<ActionBar title="Contacts">
</ActionBar>
<GridLayout rows="*">
  
    <ListView [items]="contactsList" row="0">
      <template let-item="item">
        <GridLayout row="*,*">

          <Label [text]="item.name" class="contact-text contact-name-label" 
            (tap)="toggleAddress(item)" row="0"></Label>

          <Label [text]="item.address" class="contact-text" 
            [class.shown-address]="!item.hidden" 
            visibility="{{ item.hidden? 'collapsed' : 'visible' }}" row="1"></Label>

        </GridLayout>
      </template>
    </ListView>




</GridLayout>