.contact-list{
  margin-top:20;
}
.contact-name-label{
  padding: 10 0;
}

.hidden{
  visibility: hidden;
}
.shown-address{
  color: #9E9E9E;
  margin: 40 0 10 0; 
}
.contact-text{
  padding-left: 20;
}