@import url("~/platform.css");

Page {
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}
ActionBar{
  background-color: black;
  color: white;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}