ListView {
  opacity: 0;
}
TextField {
  color: white;
}

.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}

.delete-container{
  background-color: #CB1D00;
  padding: 5;
  height: 20;
  margin-right: 8;
}