<StackLayout #container>
  <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>

  <!-- [(model)] is for two-way binding of angular models -->
  <!-- #something is for declaring local template variables -->
  <TextField #email hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
    autocorrect="false" autocapitalizationType="none"></TextField>
  <TextField #password hint="Password" secure="true" [(ngModel)]="user.password"></TextField>

  <Button [text]="isLoggingIn ? 'Log in' : 'Register'" class="submit-button" (tap)="submit()"></Button>
  <Button [text]="isLoggingIn ? 'Register' : 'Back to login'" (tap)="toggleDisplay()"></Button>
  <Button text="Contacts" (tap)="showContactList()"></Button>

</StackLayout>